<table cellpadding="5" cellspacing="0" border="0" align="center">
  <tr>
    <td>
			<img src="<%= File.join("/izishirtfiles/models/", @ms.model_id.to_s, @ms.img_front)%>" width="150" height="150">
    </td>
    <td>
			<img src="<%= File.join("/izishirtfiles/models/", @ms.model_id.to_s, @ms.img_back)%>" width="150" height="150">
    </td>
  </tr>

</table> 
