<h1>Edit city named "<%= @city.name %>"</h1>

<% form_tag({:action => 'update', :id => @city}, { :multipart => true }) do %>
  <%= render :partial => 'form' %>
  <div class="titleForm">&nbsp;</div>
  <div class="boxForm">
    <%= edit_form_buttons  %>
  </div>
<% end %>
