<%= render :partial => "list", :locals => {:with_search_bar => true, :with_listing_sub_menu => true, :title_page => t(:admin_order_list_title), :assignment_listing => false, :with_assigned_to => false } %>