


<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tbody id='listing'>
    <%= render :partial =>'listing', :locals=>{:images=>@images, :hc_id=>@homepage_category.id} %>
  </tbody>
</table>

<br />


<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td align="left" width="50%">
      <%= will_paginate @images, :previous_label=>"Previous", :next_label=>"Next",:params=>{:id=>@homepage_category.id}, :class => "pagination ajax" if @images.length > 0%>
    </td>
  </tr>
</table>