.DS_Store
db/schema.rb
log/development.log
public/javascripts/dhtml_calendar/*
public/stylesheets/dhtml_calendar/*
public/izishirtfiles
public/views
.project
izishirt.project
izishirt.tmproj
.actionScriptProperties
.flexProperties
tmp
Izishirt.swf
Izishirt2.swf


# files to ignore on live server 
lib/expect_scp.rb
.cache/
.selected_editor
.subversion/
.viminfo
554.xml
affiliates.csv
index.html
log/
public/australia/
public/blog/
public/display/
public/eu/
public/fr/
public/france/
public/newsletter
public/tags.html
public/uk/
public/us/
public/izishirt_flash/
re
