<div class="container">
	<div class="step1">
	
	<div class="img imageOverlayer3"><img src="/../images/izishirt2012/img_step1.png" class="imageHover3" width="181" height="192" alt=""></div>
	<h2>No minimum </h2>
	<p>Order custom t-shirts without 
minimums or setup fees. Largenventory and styles for everyone! </p>
	</div>
	
	
	<div class="step1"><div class="img imageOverlayer3"><img src="/../images/izishirt2012/img_step2.png" class="imageHover3" width="181" height="192" alt=""></div>
	<h2>Superior Quality </h2>
	<p>What sets us apart from the competition? Wordans offers high quality custom apparel printing for an affordable price !</p>
	</div>
	
	<div class="step1"><div class="img imageOverlayer3"><img src="/../images/izishirt2012/img_step3.png" class="imageHover3" width="181" height="192" alt=""></div>
	<h2>24H Fast Delivery </h2>
	<p>Ready to Ship in 24 Hour! Our local Printers your order and ship it the next day. </p>
	</div>
	
	<div class="step1"><div class="img imageOverlayer3"><img src="/../images/izishirt2012/img_step4.png" class="imageHover3" width="181" height="192" alt=""></div>
	<h2>Corporate Discounts </h2>
	<p>If you need custom apparel for your staff or your next corporate events, call us today and ask for our discounts!</p>
	</div>
	<div class="clear"></div>
</div>