<br />
<label class="block"><%= t(:front_office_hosted_by_title) %><br /><br /></label>
<p align="left">
  RDE Solutions Inc.<br />
  1751 rue Richardson<br />
  Suite 2511<br />
  Montreal, QC<br />
  H3K 1G6<br />
  514-489-0620<br />
  <a href="http://www.rdesolutions.com/" target="_blank">www.rdesolutions.com</a>
</p>