


<div id="popupquantity">
    <%= link_to image_tag("/images/izishirt2009/xloginClose.jpg"),
      "#", :class => 'lbAction quantityClose', :rel => 'deactivate'%>
	<div id="name_box"><%= t(:quantity_discount) %></div>
    <div id="title_box">

    	<div id="title1"><%= t(:qty).mb_chars.upcase %></div>
        <div id="title2"><%= t(:discount).mb_chars.upcase %></div>
    </div>
    <div id="content_box">
    	<div id="gray">3 - 11</div>
        <div id="blue">5%</div>
    </div>

    <div id="content_box">
    	<div id="gray">12 - 17</div>
        <div id="blue">10%</div>
    </div>
    <div id="content_box">
    	<div id="gray">18 - 24</div>
        <div id="blue">15%</div>

    </div>
    <div id="content_box">
    	<div id="gray">25 - 30</div>
        <div id="blue">20%</div>
    </div>
    <div id="content_box">
    	<div id="gray">31 - 35</div>
        <div id="blue">30%</div>

    </div>
    <div id="content_box">
    	<div id="gray">36 - 42</div>
        <div id="blue">35%</div>
    </div>
    <div id="content_box">
    	<div id="gray">&nbsp;&nbsp;&nbsp;43 +</div>
        <div id="blue">40%</div>

    </div>

</div>
