<%= javascript_include_tag "preview2.js" %>

  <section id="leftpart">
    <%= render :partial => 'shop_left_menu', :locals=>{:no_link=>true} %>
  </section>

  <article id="rightpart">
    <%= render :partial => "img_result" %>
  </article>


