<div class="bulkSeparator"></div>
<div id="formError" class="formError"></div>
<div class="longBlueButton centered">
  <%= link_to t(:ask_quote).mb_chars.upcase, "javascript:if($('bulkForm').onsubmit()){$('bulkForm').submit();}", :class=>"" %>
</div>


