<li id="tabs_<%= localization_tabs[0].to_s %>" class="<%= (localization_tabs[0] == 1) ? 'tab_active' : 'tab_inactive' %>">
	<a href="#" onclick="toggle_localization_tabs(<%= localization_tabs[0].to_s %>); return false;"><%= localization_tabs[1].to_s %></a>
</li>
