<li id="tabs_<%= locale_tabs[0].to_s %>" class="<%= (locale_tabs[0] == default) ? 'tab_active' : 'tab_inactive' %>">
  <a href="#" onclick="toggle_localization_tabs(<%= locale_tabs[0].to_s %>); return false;">
    <%= locale_tabs[1].to_s %>
  </a>
</li>
