<li id="tabs_<%= size_type_tabs[0].to_s %>" class="<%= (size_type_tabs[0] == default) ? 'tab_active' : 'tab_inactive' %>">
  <a href="#" onclick="toggle_size_type_tabs(<%= size_type_tabs[0].to_s %>); return false;">
    <%= size_type_tabs[1].to_s %>
  </a>
</li>
