body  {background: #cdcdcd;  }

body {	font-size:11px; font-family:Tahoma, Arial, Helvetica, sans-serif; color:#5b5b5b; margin: 10px 0 0 0;}
#holder {background:#fff; }

.top {background: url(/images/corpblog/theme1/bgr-top.gif) repeat-x;}
.header { height:102px; background: url(/images/corpblog/theme1/header.jpg) no-repeat; border:1px solid #666666 }
.header span {position:absolute; top:10px; right:14px; font-size:14px;  color:#fff; width:400px; text-align:right; font-family:Georgia; font-weight:normal}
.header span b {display:block; font-size:26px; font-weight:normal}

.breadcrumb { color:#2b2b2b;  }
.breadcrumb a {text-decoration:none; color:#5B5B5B;  }
.breadcrumb a:hover {text-decoration:none; color:white; background:#5B5B5B}

.lmodule .r4tl,
.lmodule .r4tr,
.cmodule .r4tl,
.cmodule .r4tr {display:none}

/*  Left part */

#left .userinfo,
.cmodule .content,
.lmodule .content{background:#f2f2f2; }
/* background:#eeebdc;  */
#left .userinfo {}
#left .userinfo a,
#left .categories a {color:#008fd4}
#left .userinfo a:hover {text-decoration:underline}
#left .userinfo .name {color:#5b5b5b}


#left .userinfo img,
.featprod .bigimg,
.content .oprod img {border:3px double #c7c6bd}

.lmodule {  color:#5b5b5b}

.lmodule h1 {top:-1px}
.lmodule h1 span{background: url(/images/corpblog/theme1/bgr-left-header.gif) repeat-x; font-size:10px; color:white; line-height:20px; margin:0 3px;  padding-left:6px; height:20px; }
.lmodule .rLeft,
.lmodule .rRight { height:20px; width:3px} 
.lmodule .rLeft {background: url(/images/corpblog/theme1/lm-h1-left.png) no-repeat; }
.lmodule .rRight {background: url(/images/corpblog/theme1/lm-h1-right.png) no-repeat;}


.lmodule .mylinks a{ color:#008fd4;}

.lmodule .flickr a {border:1px solid #7a7a7a; margin-right:4px; display:block; float:left}
.lmodule .flickr a:hover {border:1px solid #000}

.lmodule .myblog a { color:#008FD4; }

.lmodule .stats .pageview {margin:0 0 10px 0; padding:0 0 8px 18px; background:url(/images/corpblog/ico-pageview.gif) no-repeat;  border-bottom:1px dotted #9d9c95}
.lmodule .stats strong {font-size:10px}
.lmodule .stats .rank {margin:3px 0 0 0; padding:0 0 0 20px; background:url(/images/corpblog/ico-medal.png) no-repeat; line-height:20px; font-weight:bold }


/*  Main menu */
.mainmenu * {float:left; height:28px; display:block; }
.mainmenu .rLeft,
.mainmenu .rRight {width:5px; }
.mainmenu .rLeft {background: url(/images/corpblog/theme1/mm_left.png) no-repeat; }
.mainmenu .rRight {background: url(/images/corpblog/theme1/mm_right.png) no-repeat; }
.mainmenu span {background: url(/images/corpblog/theme1/mm_bgr.gif) repeat-x; color:white;  cursor:pointer; width:205px;}
.mainmenu .ovr .rRight {background: url(/images/corpblog/theme1/mm_right_ovr.png) no-repeat; }
.mainmenu .ovr .rLeft {background: url(/images/corpblog/theme1/mm_left_ovr.png) no-repeat; }
.mainmenu .ovr span {background: url(/images/corpblog/theme1/mm_bgr_ovr.gif) repeat-x;  }
.mainmenu a:hover span {}
.mainmenu a {font-weight:bold; line-height:28px; text-decoration:none; font-size:12px; text-align:center;  }
.mainmenu #middle {margin:0 6px}

/*  CENTER part */

/* center module header */
.cmodule .heading {height:34px;}
.cmodule .heading .rLeft,
.cmodule .heading .rRight {width:5px; height:34px }
.cmodule .rLeft {background: url(/images/corpblog/theme1/cm_left.png) no-repeat; }
.cmodule .rRight {background: url(/images/corpblog/theme1/cm_right.png) no-repeat; }
.cmodule .heading span {background: url(/images/corpblog/theme1/cm_bgr.gif) repeat-x; color:white;  line-height:34px; font-weight:bold; font-size:13px; margin:0 5px}


/* center moduls CONTENT*/

.featprod .content h1,
.featprod .content h2 {font-family:Georgia; font-weight:normal; color:#5b5b5b }
.featprod .content h1 {font-size:26px}
.featprod .content h2 {font-size:14px}

.variation a { color:#6b6b6b; }
.variation a img { border:1px solid #c7c6bd; }
.variation a:hover img{border:1px solid #999999}

.sizez .even {background:#F2F2F2}
.sizez .price b,
.content .oprod b  {color:#c10909}

.paging a {border:1px solid #ccc; color:#AC0808;  background:#fff; }
.paging a:hover {background:#AC0808; color:white}

.btn {width:164px; float:right; }
.btn a {position:relative; height:21px; cursor:pointer; display:block; text-decoration:none}
.btn .rLeft,
.btn .rRight {width:8px; height:21px; top:0; position:absolute}
.btn .rLeft {background:url(/images/corpblog/theme5/btn-left.png); left:0}
.btn .rRight {background:url(/images/corpblog/theme5/btn-right.png); right:0; position:absolute}
.btn span {background:url(/images/corpblog/theme5/btn-bgr.gif); margin:0 8px; display:block; height:21px; line-height:21px; color:#737373; text-decoration:none; text-align:center; font-weight:bold}
.btn .ovr .rLeft {background:url(/images/corpblog/theme5/btn-left-ovr.png); left:0}
.btn .ovr .rRight {background:url(/images/corpblog/theme5/btn-right-ovr.png); right:0; position:absolute}
.btn .ovr span {background:url(/images/corpblog/theme5/btn-bgr-ovr.gif); color:#fff}

#footer a {color:#6f6f6f; }
#footer {background: url(/images/corpblog/theme1/bgr-footer.gif) top repeat-x; border:1px solid #8c8c8c; } 

.popup h5 {padding:5px; color:#3A679D }
.popup a,
.ok_button {color:white;border:1px double #ccc; background: url(/images/corpblog/theme1/mm_bgr.gif) repeat-x; }
.popup a:hover,
.ok_button:hover {background: url(/images/corpblog/theme1/mm_bgr_ovr.gif) repeat-x;}


/* IE6 FIXEZZZZZ */

* html .lmodule .rLeft{ left:-3px  }

* html .btn .rLeft,
* html .btn .rRight {background-image :none !important}

* html .btn .rLeft { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/btn-left.png');   }
* html .btn .rRight { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/btn-right.png'); }
* html .btn .ovr .rLeft { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/btn-left-ovr.png');   }
* html .btn .ovr .rRight { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/btn-right-ovr.png'); }

* html .lmodule .stats .rank  {background-image: none !important; padding:0}
* html .lmodule .stats .rank em {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/ico-medal.png'); width:20px; height:20px; float:left; }

* html .mainmenu .rLeft { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/mm_left.png'); }
* html .mainmenu .rRight { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/mm_right.png'); }
* html .mainmenu .ovr .rLeft { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/mm_left_ovr.png'); }
* html .mainmenu .ovr .rRight { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/mm_right_ovr.png'); }

* html .heading .rLeft { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/cm_left.png'); }
* html .heading .rRight { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/corpblog/theme1/cm_right.png'); }
