
#header_container #main_menu #search_menu input{ float:left;text-align:left; width:120px; margin:5px; font-size:12px; border:1px solid #999;}

#right_container .tshirts_categories { margin:10px 0 5px 0;  }
#right_container .tshirts_categories .marketingtools {padding:5px 0px 15px 30px}
#right_container .tshirts_categories .design_box { margin:5px 0 0 5px; }
#right_container .tshirts_categories .design_box .designs { margin:2px 2px 0 2px}
#myUpld .upldFiles ol {margin:20px 0 30px 30px}
#mysell .mydesign_box{ margin:10px 0 15px 10px;  }
#mysell .tshirts_categories {margin-top:0}

#myproducts .myproducts .prod_box .mydesOpt {width:500px;}


.tshirts_categories h1 select {font-size:11px; margin-top:2px; }

#mydesigns .mydesign_box {margin:10px 10px; }
#mydesigns .mydesign_box .designs { width:115px; height:100px; margin:5px 0px 0 0px; }

#footer #footer_info #newsletter input{ border:1px solid #D9D9D9; padding:0 5px; margin-left:5px; font-size:12px; color:#333;}
#footer #footer_info #newsletter input.button_make {background-color: #009900; border-top:1px ridge #7ad84b; border-left:1px ridge #7ad84b; border-bottom:1px ridge #017c01; border-right:1px ridge #017c01; color:#fff; font-size:12px; font-weight: bold;  text-align:center; font-family:Arial, Helvetica, sans-serif; text-decoration:none; margin: 0 0 0 5px; padding:0}

#footer #footer_info #community { float:left; width:170px; margin:0 5px; padding: 15px 10px;}

#footer { clear:both; margin-top:10px}