
    <div id="btn_start_creating">
       <%= link_to((image_tag "izishirt2011/#{session[:language]}/b_create.jpg") , create_tshirt_url(), :title=>t(:create_yout_tshirt))%>
    </div>
  <%= render :partial=>"/layouts/generic_boxes/large_order" %>
