  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ccinfo">
          <tr>

            <td>
            	<A href="javascript: document.paypal.submit()">
<img  src="https://www.sandbox.paypal.com/<%=t(:paypal_lang_url)%>/i/btn/btn_paynow_SM.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
</a>


          </td>
          
          </tr>
          
</table>



