<!--
<div class="popup">
       <h5><span><%#=t(:checkout_boutique_popup)%></span></h5>
       <p><a href="#">continue shopping</a></p>
      <a href="/checkout/show_cart"><%#=t(:checkout_boutique_popup_link)%></a> 
  </div>
-->