<!-- Error 404 -->
<div id="notfound404">
  <h1><%= t(:error404) %></h1>
  <h2><%= t(:error404_text1) %></h2>
  <p><%= t(:error404_text2) %></p>
  <div id="btn_return_home">
    <a href="<%=@URL_ROOT%>" class="button_return_home" title="<%= t(:error404_text3) %>"><%= t(:error404_text3) %></a>
  </div>
</div>
<!-- Error 404 --> 