<h1><%= t(:admin_category_edit_toptitle) + @category.localized_categories[0].name %></h1>

<% form_tag({:action => 'update', :id => @category}, { :multipart => true }) do %>
  <%= render :partial => 'form' %>
  <div class="titleForm">&nbsp;</div>
  <div class="boxForm">
    <%= edit_form_buttons  %>
  </div>
<% end %>
