<div id="pp_request_payment" style="height: 200px; width:225px;">

  <h1 align="center"><%= t(:my_izishirt_2011_please_choose_a_size) %></h1>

  <div align="center">
    <img src="/images/boutiques_2010/choose_size.jpg"  />
  </div>
  
  <div id="btn_request_payment">
      <a href="javascript:;" onclick="jQuery.fancybox.close();" class="button_request_payment"><%= t(:my_izishirt_2011_ok) %></a>
  </div>
</div>



