<div id="terms_popup">
  <h1><%=t(:terms_marketplace_title_popup)%></h1>
  <p><%=t(:first_paragraph_terms_popup)%></p>
  <p><%=t(:second_paragraph_terms_popup)%></p>
  <p><%=t(:third_paragraph_terms_popup)%></p>
</div>
