<h1><%= t(:admin_coupon_edit_toptitle)  + @coupon.code %></h1>

<span style="color:green">
  <% if flash[:info] %>
    <p><%= flash[:info] %></p>
  <% end %>
</span>

<span style="color:red">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
</span>

<% form_tag :action => 'update', :id => @coupon do %>
	<%= render :partial => 'form' %>


	<div class="titleForm">&nbsp;</div>
	<div class="boxForm">
		<%= edit_form_buttons %>
	</div>
<% end %>
