<div id='flashcontent'>
  <div id='flash_inner'>
  <div style='text-align:center;font-size:13px;'><strong><a href='http://get.adobe.com/flashplayer/' target='_blank'><%= t(:please_install_flash) %></a></strong></div>
  <%= t(:no_flash_message) %>
  </div>
</div>