<h1>Edit SEO Informations for "<%= @seoinfo.url %>"</h1>

<% form_tag({:action => 'update', :id => @seoinfo}, { :multipart => true }) do %>
  <%= render :partial => 'form' %>
  <div class="titleForm">&nbsp;</div>
  <div class="boxForm">
    <%= edit_form_buttons  %>
  </div>
<% end %>
