<h1>New SEO informations</h1>

<% form_tag({:action => 'create'}, :multipart => true) do %>
	<%= render :partial => 'form' %>

	<div class="titleForm"></div>
	<div class="boxForm">
		<%= submit_tag 'OK' %>
	</div>
<% end %>
