<p><%= t(:contact_us_form_01) %> : <%="#{@contact[:name]}"%></p>
<p><%= t(:contact_us_form_02) %> : <%="#{@contact[:email]}"%></p>
<p><%= t(:contact_us_form_03) %> : <%="#{@contact[:phone]}"%></p>
<p><%= t(:contact_us_form_06) %> : <%="#{@contact[:command_number]}"%></p>
<p><%= t(:contact_us_form_05) %> : <%="#{@contact[:message]}"%></p>
