<%= nl2br @msg_body %>

<br />
<br />
<br />
<%= I18n.t(:send_mail_order_signature_1, :locale => Language.find(@store.user.language_id).shortname) %><br />
<br />
<%= I18n.t(:send_mail_order_signature_2, :locale => Language.find(@store.user.language_id).shortname) %><br />
<br />
<%= I18n.t(:send_mail_order_signature_3, :locale => Language.find(@store.user.language_id).shortname)%><br />
<br />
<%= I18n.t(:sendmail_social_networks, :locale => Language.find(@store.user.language_id).shortname) %><br />
Twitter: <a href="http://twitter.com/izishirt">http://twitter.com/izishirt</a><br />
Facebook: <a href="http://facebook.com/pages/IziShirt/223576667655075">http://facebook.com/pages/IziShirt/223576667655075</a><br />
Blog: <a href="http://www.izishirtblog.com/">http://www.izishirtblog.com/</a>
<br />

<img src="http://www.izishirt.ca/images/email_sig.jpeg" alt="izishirt.ca" />