

<a href="http://www.izishirt.ca/admin/izishirt/show_business_opportunity/<%= @business_opportunity.id %>">http://www.izishirt.ca/admin/izishirt/show_business_opportunity/<%= @business_opportunity.id %></a>

<br />
<br />

izishirt.ca
