<p>
<%= I18n.t(:checkout_address_custom_email_client_top_email, :locale => Language.find(@user.language_id).shortname) %>,  
</p>

<%= nl2br(@body_content) %>
<br/>
<br/>
www.izishirt.ca<br/>
514 495 1771<br/>
1625 Rue chabanel ouest, Montréal QC, H4N 2S7<br/>
<br/>