<%= I18n.t(:send_mail_affiliate_zero_dollar_request_1, :locale => Language.find(@user.language_id).shortname) %>,

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_2, :locale => Language.find(@user.language_id).shortname) %>

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_3, :locale => Language.find(@user.language_id).shortname) %>

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_4, :locale => Language.find(@user.language_id).shortname) %>


<%= I18n.t(:send_mail_affiliate_zero_dollar_request_5, :locale => Language.find(@user.language_id).shortname) %>
 
http://www.izishirt.ca/myizishirt
 

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_6, :locale => Language.find(@user.language_id).shortname) %>
 
<%= I18n.t(:send_mail_affiliate_zero_dollar_request_7, :locale => Language.find(@user.language_id).shortname) %>

http://www.izishirt.ca/myizishirt/editstore


<%= I18n.t(:send_mail_affiliate_zero_dollar_request_8, :locale => Language.find(@user.language_id).shortname) %>

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_9, :locale => Language.find(@user.language_id).shortname) %>

http://www.izishirt.ca/myizishirt/promote


<%= I18n.t(:send_mail_affiliate_zero_dollar_request_10, :locale => Language.find(@user.language_id).shortname) %>
 
<%= I18n.t(:send_mail_affiliate_zero_dollar_request_11, :locale => Language.find(@user.language_id).shortname) %>

http://www.izishirt.ca/myizishirt/earning


<%= I18n.t(:send_mail_affiliate_zero_dollar_request_12, :locale => Language.find(@user.language_id).shortname) %>

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_13, :locale => Language.find(@user.language_id).shortname) %>

<%= I18n.t(:send_mail_affiliate_zero_dollar_request_14, :locale => Language.find(@user.language_id).shortname) %>
